*{
  font-family: 'Six Caps', sans-serif;
  font-size: 1.2rem;
  background-color: black;
  color: white;
}
.App {
  text-align: center;
}
.navContainer{
  display: flex;
  justify-content: space-evenly;
}
div a {
  text-decoration: none;
  color: white;

}
div a:hover{
  color: white;
  text-decoration: none;
  text-shadow: 5px 3px darkred;
}


.Nav-link {
  padding: 2rem;
}

.nav-item {
  margin-top: 1rem;

}
